/* 
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/
  
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	.subtitulo {
		margin-left: 350px;
	}

	.blog {
		margin-left: 370px;
	}

	.search-container{
		margin-left: 300px;
	}

	.Perfil {
		display: flex;
		margin-left: 20px;
		float: none;
		margin-left: 300px;
	}
	
	.Logo {
		border-top-left-radius: 1rem;
		border-top-right-radius: 1rem;
		border-bottom-right-radius: 0rem;
		clip-path: none;
		width: 100%;
		height: 300px;
	  }
	
	.item {
		margin-left: 90px;
		margin-top: 40px;
		font-size: 13px;
		display: flex;
		flex-direction: column;
		width: 75%;
	}

	.item2 {
		margin-left: 90px;
		margin-top: 40px;
		font-size: 13px;
		display: flex;
		flex-direction: column;
		width: 75%;
	}

	.Articulo {
		margin-left: 30px;
		margin-top: 50px;
	}

	.categories {
		margin-left: 80px;
		padding-bottom: 0.5em;
	}

	.login-box {
		margin-left: 400px;
	  }
}



/* 
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/
  
@media (min-width: 481px) and (max-width: 767px) {
	.search-container {
		margin-left: 100px;
	}

	.subtitulo {
		margin-left: 200px;
	}

	.blog {
		margin-left: 225px;
	}

	.Perfil {
		display: flex;
		margin-left: 20px;
		float: none;
		margin-left: 130px;
	}
	
	.Logo {
		border-top-left-radius: 1rem;
		border-top-right-radius: 1rem;
		border-bottom-right-radius: 0rem;
		clip-path: none;
		width: 100%;
	  }
	
	.item {
		margin-left: 30px;
		margin-top: 40px;
		font-size: 13px;
		display: flex;
		flex-direction: column;
		width: 75%;
	}

	.item2 {
		margin-left: 30px;
		margin-top: 40px;
		font-size: 13px;
		display: flex;
		flex-direction: column;
		width: 75%;
	}

	.Articulo {
		margin-left: 30px;
		margin-top: 50px;
	}

	.categories {
		margin-left: 80px;
		padding-bottom: 0.5em;
	}

	.login-box {
		margin-left: 300px;
		width: 75%;
	}
}



/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/
  
@media (min-width: 320px) and (max-width: 480px) {
	.subtitulo {
		margin-left: 110px;
	}

	.blog {
		margin-left: 135px;
	}

	.Perfil {
		display: flex;
		margin-left: 20px;
		float: none;
		margin-left: 50px;
	}

    .nav {
        justify-content: start;
        gap: 10px;
    }

    .nav__responsive-buttom {
        display: block; /* Muestra el botón ☰ */
    }

    .nav__ul {
        display: none; /* Oculta el menú normal en móviles */
    }

    .search-container {
        flex-grow: 1;
    }

    .search-bar {
        width: 100%;
    }

	.search-container{
		margin-left: 50px;
	}


	.suggestions-list {
		width: 30vw;
	}

	.Logo {
		border-top-left-radius: 1rem;
		border-top-right-radius: 1rem;
		border-bottom-right-radius: 0rem;
		clip-path: none;
		width: 100%;
	  }
	
	.item {
		margin-left: 30px;
		margin-top: 40px;
		font-size: 13px;
		display: flex;
		flex-direction: column;
		width: 75%;
	}

	.item2 {
		margin-left: 30px;
		margin-top: 40px;
		font-size: 13px;
		display: flex;
		flex-direction: column;
		width: 75%;
	}

	.Articulo {
		margin-left: 7px;
		margin-top: 50px;
	}

	.Articulo img {
		width: 330px;
		height: 200px;
	}

	pre {
		width: 330px;
	}

	#arp {
		width: 330px;
		height: 80px;
		object-fit: fill;
	}

	.categoria {
		width: 80vw;
	}

	.categories {
		margin-left: 30px;
		padding-bottom: 0.5em;
	}

	.login-box {
		margin-left: 170px;
		width: 75%;
	}
}