body {
    background-color:#131318;
    color: #fff;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.nav__responsive-ul{
	display: none;
}

.nav__ul{
	margin: 0px;
	padding: 15px;
    border-bottom: 1px solid #373d48;
}

.nav{
	background-color: #131318;
}

.nav__li{
	display: inline-block;
	padding: 10px;
	color: white;
}

.nav__li:hover > a{
	color: grey;
}

.nav__li:hover {
	color: grey;
}

.nav__li a{
	color: white;
	text-decoration: none;
}

.nav__li i{
	box-sizing: border-box;
	text-align: center;
	margin-right: 5px;
}

.nav__responsive-ul{
	margin: 0px;
	padding: 0px;
	text-align: left;
	height: 37px;
}

.nav__responsive-buttom-container{
    position: absolute;
   	width: 100%;
	font-size: 25px;
	background-color: #131318;
	border-bottom: 1px solid #373d48;
	margin-top: -64px;
	z-index: 100;
}

.nav__responsive-buttom{
	padding: 6px 20px;
	background-color: #131318;
}

button {
    background-color: #131318;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
}

.Perfil {
	margin-top: 35px;
	margin-left: 35px;
	width: 260px;
	position: sticky;
}

.Foto {
	border: 1px solid #373d48;
	width: 7rem;
    height: 7rem;
	border-radius: 50%;
	padding: 7px;
}

.Foto img {
	object-fit: cover;
	border-radius: 50%;
	height: 100%;
	width: 100%;
}

.bl4ck44 {
	margin-top: 20px;
	word-spacing: 1px;
}

.Social {
	margin-top: 15px;
}

.Social a{
	text-decoration: none;
	color: white;
	display: block;
	margin-top: 10px;
}

.Social i {
	border-radius: 50%;
	border: 1px solid #373d48;
	padding: 5px;
}

.Social-movile {
	display: none;
}


@media (min-width: 768px) and (max-width: 1024px) {
	.nav__ul{
		display: none;
	}

	.nav__responsive-ul{
		display: block;
		position: absolute;
		width: 100%;
		margin-top: 37px;
		padding-top: 27px;
	}

    .nav__li-container{
		position: relative;
		top: -1000px;
		height: 630px;
		background-color: #131318;
		transition: all 1s;
		z-index: 1;
		width: 250px;
		padding-top: 27px;
	}

    .nav__responsive_li{
		width: 100%;
		padding: 9px 20px;
	}

    .nav__responsive_li i{
		box-sizing: border-box;
		text-align: center;
		margin-right: 5px;
		width: 30px;
		color: white;
	}

    .nav {
		height: 37px;
		width: 100%;
	}

	.nav__responsive_li a{
		text-decoration: none;
		color: white;
	}

    .nav__li-container.visible {
        top: -27px;
    }
}
  

/* 
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/
  
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	.nav__ul{
		display: none;
	}

	.nav__responsive-ul{
		display: block;
		position: absolute;
		width: 100%;
		margin-top: 37px;
		padding-top: 27px;
	}

    .nav__li-container{
		position: relative;
		top: -1000px;
		height: 630px;
		background-color: #131318;
		transition: all 1s;
		z-index: 1;
		width: 250px;
		padding-top: 27px;
	}

    .nav__responsive_li{
		width: 100%;
		padding: 9px 20px;
	}

    .nav__responsive_li i{
		box-sizing: border-box;
		text-align: center;
		margin-right: 5px;
		width: 30px;
		color: white;
	}

    .nav {
		height: 37px;
		width: 100%;
	}

	.nav__responsive_li a{
		text-decoration: none;
		color: white;
	}

    .nav__li-container.visible {
        top: -27px;
    }
}
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
@media (min-width: 481px) and (max-width: 767px) {
	.nav__ul{
		display: none;
	}

	.nav__responsive-ul{
		display: block;
		position: absolute;
		width: 100%;
		margin-top: 37px;
		padding-top: 27px;
	}

    .nav__li-container{
		position: relative;
		top: -1000px;
		height: 630px;
		background-color: #131318;
		transition: all 1s;
		z-index: 1;
		width: 250px;
		padding-top: 27px;
	}

    .nav__responsive_li{
		width: 100%;
		padding: 9px 20px;
	}

    .nav__responsive_li i{
		box-sizing: border-box;
		text-align: center;
		margin-right: 5px;
		width: 30px;
		color: white;
	}

    .nav {
		height: 37px;
		width: 100%;
	}

	.nav__responsive_li a{
		text-decoration: none;
		color: white;
	}

    .nav__li-container.visible {
        top: -27px;
    }
}
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
@media (min-width: 320px) and (max-width: 480px) {
	.nav__ul{
		display: none;
	}

	.nav__responsive-ul{
		display: block;
		position: absolute;
		width: 100%;
		margin-top: 37px;
		padding-top: 27px;
	}

    .nav__li-container{
		position: relative;
		top: -1000px;
		height: 630px;
		background-color: #131318;
		transition: all 1s;
		z-index: 1;
		width: 250px;
		padding-top: 27px;
	}

    .nav__responsive_li{
		width: 100%;
		padding: 9px 20px;
	}

    .nav__responsive_li i{
		box-sizing: border-box;
		text-align: center;
		margin-right: 5px;
		width: 30px;
		color: white;
	}

    .nav {
		height: 37px;
		width: 100%;
	}

	.nav__responsive_li a{
		text-decoration: none;
		color: white;
	}

    .nav__li-container.visible {
        top: -27px;
    }

	.Perfil {
		display: flex;
		margin-left: 20px;
		width: 350px;
	}

	.Foto {
		border: 1px solid #373d48;
		width: 12rem;
		height: 5rem;
		border-radius: 50%;
		padding: 7px;
	}

	.bl4ck44 {
		margin-top: 0px;
		margin-left: 10px;
		font-size: 14px;
	}

	.Social {
		display: none;
	}

	.Social-movile {
		position: relative;
		display: inline-block;
	}

	.Redes {
		display: none; /* Oculto por defecto */
		position: absolute;
		top: 100%; /* Posiciona el cuadro justo debajo del botón */
		right: 0;
		background-color: #131318;
		border: 1px solid #373d48;
		padding: 10px;
		z-index: 1;
		width: 200px; /* Ancho del cuadro */
		border-radius: 4%;
	}

	.Redes a {
		text-decoration: none;
		color: white;
		display: block;
		margin-top: 10px;
	}
	
	.Redes i {
		margin-right: 20px;
	}
	
	.Follow {
		background-color: white;
		color: black;
		padding: 10px;
		border: none;
		cursor: pointer;
		margin-top: 15px;
		border-radius: 7%;
	}
}
