* {
    margin: 0;
    padding: 0;
}

body {
    background-color:#131318;
    color: #fff;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.nav__responsive-ul{
	display: none;
}

.nav__ul{
	margin: 0px;
	padding: 15px;
    border-bottom: 1px solid #373d48;
}

.nav{
	background-color: #131318;
}

.nav__li{
	display: inline-block;
	padding: 10px;
	color: white;
}

.nav__li:hover > a{
	color: grey;
}

.nav__li:hover {
	color: grey;
}

.nav__li a{
	color: white;
	text-decoration: none;
}

.nav__li i{
	box-sizing: border-box;
	text-align: center;
	margin-right: 5px;
}

.nav__responsive-ul{
	margin: 0px;
	padding: 0px;
	text-align: left;
	height: 37px;
}

.nav__responsive-buttom-container{
    position: absolute;
   	width: 100%;
	font-size: 25px;
	background-color: #131318;
	border-bottom: 1px solid #373d48;
	margin-top: -64px;
	z-index: 100;
}

.nav__responsive-buttom{
	padding: 6px 20px;
	text-align: right;
}

.Perfil {
	margin-top: 35px;
	margin-left: 35px;
	width: 260px;
	position: sticky;
}

.Foto {
	display: block;
	border: 1px solid #373d48;
	width: 7rem;
    height: 7rem;
	border-radius: 50%;
	padding: 7px;
}

.Foto img {
	object-fit: cover;
	border-radius: 50%;
	height: 100%;
	width: 100%;
}

.bl4ck44 {
	margin-top: 20px;
	word-spacing: 1px;
}

.Social {
	margin-top: 15px;
}

.Social a{
	text-decoration: none;
	color: white;
	display: block;
	margin-top: 10px;
}

.Social i {
	border-radius: 50%;
	border: 1px solid #373d48;
	padding: 5px;
}

@media only screen and (max-width: 450px){
	.nav__ul{
		display: none;
	}

	.nav__responsive-ul{
		display: block;
		position: absolute;
		width: 100%;
		margin-top: 37px;
		padding-top: 27px;
	}

    .nav__li-container{
		position: relative;
		top: -1000px;
		height: calc(100vh - 64px);
		background-color: #131318;
		transition: all 1s;
		z-index: 1;
		width: 250px;
		padding-top: 27px;
	}

    .nav__responsive_li{
		width: 100%;
		padding: 9px 20px;
	}

    .nav__responsive_li i{
		box-sizing: border-box;
		text-align: center;
		margin-right: 5px;
		width: 30px;
		color: white;
	}

    .nav {
		height: 37px;
		width: 100%;
	}

	.nav__responsive_li a{
		text-decoration: none;
		color: white;
	}

	.nav__responsive_li:hover > a{
		color: black;
	}

	.nav__responsive_li:hover {
		color: black;
	}

	.nav__responsive-ul:hover > .nav__li-container {
        top: -27px;
	}
}